* {
    /* border: 1px solid red; */
}

.post {
    height: 10vw;
    width:auto;
    border: 2px solid rgb(168, 168, 168);
    border-radius: 7px;

    padding: 1vw 2vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    cursor: pointer;
    background-color: white;
}
.post:hover {
    transform: scale(1.0005);
    box-shadow: 3px 2px 2px rgb(160, 159, 159);
}

.postTitle {
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.postContent {
    height: 3.7vw;
    width: auto;
    color: rgb(137, 138, 139);
    margin: 0.4vw;

    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.postDetail {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}