.homePage {
    margin: 0vw 16vw;
    padding: 2vw 0; 
}

.homeTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2vw;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}